<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parameter Analysis</title>
</head>
<body>
    <h1>Analysis of Parameter: {{ parameter }}</h1>

    <h2>Top 20 Highest Values</h2>
    <ul>
        {% for file, value in top_10_highest|reverse %}
            <li><a href="{{ url_for('view_json_file', filename=file) }}">{{ file }}</a>: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>Top 20 Lowest Values</h2>
    <ul>
        {% for file, value in top_10_lowest %}
            <li><a href="{{ url_for('view_json_file', filename=file) }}">{{ file }}</a>: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>20 Closest to Median</h2>
    <ul>
        {% for file, value in closest_to_median %}
            <li><a href="{{ url_for('view_json_file', filename=file) }}">{{ file }}</a>: {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html>
